html :where(body) {
  font-family: "DM Sans", sans-serif;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(162deg, #0E141D 0%, #243441 70%, #24374a 60%, #243441 95%);
  background-repeat: no-repeat;
  background-attachment: fixed;
}

main :where(header h1) {
  font-family: "DM Sans", sans-serif;
  font-weight: bold;
  font-size: clamp(2.5rem, 5.5vw, 6rem);
  color: transparent;
  display: flex;
  justify-content: center; /* Change space-around to center for better alignment */
  align-items: center;
  position: relative;
  height: 100vh;
  animation: heading-animation 2s ease forwards;
}

@keyframes heading-animation {
  0% {
    transform: translateY(10%);
    opacity: 0;
  }
  50% {
    color: rgba(255, 255, 255, 0.5);
    opacity: 0.5;
  }
  100% {
    transform: translateY(0);
    color: #f5f5fa;
    opacity: 1;
  }
}
.container {
  height: 100vh;
}

nav {
  display: flex;
  justify-content: center;
  align-items: center;
  animation: fade linear;
  animation-timeline: view();
}
nav ul {
  list-style: none;
  display: flex;
  font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-size: 1.3rem;
  display: flex;
  justify-content: center;
}
nav ul li {
  margin: 2rem;
  display: flex;
  justify-content: center;
  width: 166px;
}
nav ul li a {
  border: #f5f5fa 3px solid;
  border-radius: 5px;
  padding: 10px 20px;
  text-decoration: none;
  color: #fff;
  transition: 0.3s;
  text-align: center;
}
nav ul li a:hover {
  color: #18273E;
  border-color: #A0BDE9;
  background-color: #A0BDE9;
}

.messages {
  display: flex;
  flex-direction: column;
  justify-content: center;
  animation: fade linear;
  animation-timeline: view();
}
.messages .hints {
  display: flex;
  justify-content: center;
  color: #f5f5fa;
  font-size: 1.3rem;
}
.messages .output {
  display: flex;
  justify-content: center;
  color: #f5f5fa;
  font-size: 1.3rem;
}

.record-button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 25vh;
  animation: fade linear;
  animation-timeline: view();
}

.record-button button {
  border: #3D63DD 3px solid;
  border-radius: 5px;
  padding: 10px;
  font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-size: 1.3rem;
  color: #f5f5fa;
  background-color: #3D63DD;
  transition: 0.3s;
  animation: fade linear;
  animation-timeline: view();
}
.record-button button:hover {
  color: #f5f5fa;
  border-color: #f5f5fa;
  background-color: transparent;
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
.presentation {
  display: flex;
  justify-content: center;
  border: #0E141D 6px solid;
  border-radius: 5px;
  padding: 10px 0px 10px 0px;
  background-color: #0E141D;
}

.arrow-back-container {
  margin-top: 40px;
  display: flex;
  align-items: center;
  position: relative;
  padding: 10px;
}

.arrow-back {
  position: relative;
  display: inline-block;
  height: 2px;
  background-color: transparent;
  transition: transform 0.5s ease, background-color 0.5s ease;
  transform-origin: left;
  width: 60px;
  transform: scaleX(0);
}

.arrow-back-container:hover .arrow-back {
  background-color: #f5f5fa;
  transform: scaleX(1);
}

.arrow-pointer {
  content: "";
  position: absolute;
  left: -2px;
  top: 50%;
  transform: translateY(-50%);
  width: 25px;
  height: 30px;
  background-color: #f5f5fa;
  -webkit-clip-path: polygon(60% 0, 75% 0, 15% 50%, 75% 100%, 60% 100%, 0% 50%);
          clip-path: polygon(60% 0, 75% 0, 15% 50%, 75% 100%, 60% 100%, 0% 50%);
}

.arrow-back-container:hover .arrow-pointer {
  background-color: #f5f5fa;
}

.resources-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin: auto;
  height: 100vh;
  width: 100%;
  max-width: 800px;
}
.resources-container h2 {
  margin: 0;
  color: #f5f5fa;
  font-size: 2rem;
  margin: 20px 0px 20px 0px;
}
.resources-container ul {
  list-style-type: circle;
  margin: 0;
  padding: 0;
}
.resources-container ul li {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.resources-container ul li a {
  color: #f5f5fa;
  margin-left: 2rem;
  line-height: 1.5;
  font-size: 1.2rem;
  font-weight: light;
}/*# sourceMappingURL=style.css.map */